# hakyll
_cache
_site
# cabal
dist
.cabal-sandbox
cabal.sandbox.config
# nix
result*
/site.o
.stack-work
# LaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
# Build directories created by ./deploy.sh
builddir-*
/site.nix
