<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <title>Augsburger Chaos Curry Club &mdash; $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="/">Augsburger Chaos Curry Club</a>
            </div>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>

        <main id="content">
            $body$
        </main>

        <footer>
            Mit <a href="http://jaspervdj.be/hakyll">Hakyll</a> erstellt.
            Schau dir den <a href="https://github.com/curry-club-aux/haskell-augsburg.de">Quellcode</a> an und verbessere ihn!
        </footer>
    </body>
</html>
