<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <title>$title$ :: Curry Club Augsburg</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css" />
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="/">Curry Club Augsburg</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/rss.xml">RSS</a>
                <a href="/atom.xml">Atom</a>
            </nav>
        </header>

        <main id="content">
            $body$
        </main>

        <footer>
            Mit <a href="http://jaspervdj.be/hakyll">Hakyll</a> erstellt.
            Schau dir den <a href="https://github.com/curry-club-aux/curry-club-augsburg.de">Quellcode</a> an und verbessere ihn!
        </footer>
    </body>
</html>
