<article>
  <h1>Treffen &amp; Veranstaltungen</h1>
  <ul class="post-list">
    $for(meetups)$
      $if(meetup-upcoming)$
      <li class="meetup-upcoming">
      $else$
      <li>
      $endif$
        <span class="meetup-date">
          $meetup-date$
        </span>
        <span class="meetup-counter">
          $if(meetup-counter)$
            <div class="meetup-counter-square">
              $meetup-counter$
            </div>
          $endif$
        </span>
        <span>
          <a class="post-title" href="$url$">$title$</a>
          $if(subtitle)$
            <br />
            <span class="post-subtitle">$subtitle$</span>
          $endif$
        </span>
      </li>
    $endfor$
  </ul>
</article>
