$for(upcoming-meetups)$
  <article>
    <header>
      <h1>$title$</h1>
    </header>

    $if(teaser)$
      $teaser$
    $else$
      $body$
    $endif$
  </article>
$endfor$

<article>
  <p class="deemph">Du schreibst ein cooles Haskell-Projekt, hast eine tolle neue funktionale Programmiersprache entdeckt, oder verstehst endlich, wie <s>Schach</s>Go-AIs funktionieren? Dann halte einen Vortrag! Die Organisation geht über unsere <a href="http://lists.curry-club-augsburg.de/listinfo/curry-talk">Mailingliste</a>.</p>
  <!--<p class="deemph">Kurzvorträge (< 10 min) können auch unangekündigt gehalten werden, in Absprache mit der jeweiligen Organisatorin.</p>-->
</article>
