<article>
  <header>
    <h1>Programm für das nächste Treffen</h1>
  </header>

  $next-meetup-body$

  <p>Du schreibst ein cooles Haskell-Projekt, hast eine tolle neue funktionale Programmiersprache entdeckt, oder verstehst endlich, wie Schach-AIs funktionieren? Dann halte einen Vortrag! Die Organisation geht über unsere <a href="http://lists.curry-club-augsburg.de/listinfo/curry-talk">Mailingliste</a>.</p>
  <p>Kurzvorträge (< 10 min) können auch unangekündigt gehalten werden, in Absprache mit dem jeweiligen Organisator.</p>
</article>
